{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="px-4 py-5 text-center">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Plataforma genérica por Nando Rocha</h1>
                <p class="justify indent col-lg-10 fs-4">A seguir temos uma apresentação da capacidade de uma aplicação web feita com a utilização do framework Symfony, um banco de dados genérico bem parrudo, e o clássico bootstrap.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 bg-dark border rounded-3">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Senha</label>
                </div>
                <div class="checkbox text-primary mb-3">
                    <label>
                    <input type="checkbox" value="remember-me"> Lembrar da próxima vez
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
                <hr class="my-4">
                <small class="text-muted">Clicando em Registrar, você declara concordar com os termos de uso da plataforma.</small>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
