<div class="row align-items-center g-lg-5 py-5">
    <h1 class="text-warning">Ficaremos feliz com sua contribuição!</h1>
    <a href="/recipes/store" class="btn btn-success">Registrar Receita</a>
</div>