<nav class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/recipes" class="nav-link">Receitas</a></li>
        <li class="nav-item"><a href="/categories" class="nav-link">Categorias</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
    </ul>
</nav>